:root{

    --lgt-00: #ffffff;
    --lgt-50: #f9fafb;
    --lgt-100: #f3f4f6;
    --lgt-200: #e5e7eb;
    --lgt-300: #d1d5db;
    --lgt-400: #9ca3af;
    --lgt-500: #6b7280;
    --lgt-600: #4b5563;
    --lgt-700: #374151;
    --lgt-800: #1f2937;
    --lgt-900: #111827;
    --lgt-950: #030712;


    --dr-00: #030712;
    --drk-50: #111827;
    --drk-100: #1f2937;
    --drk-200: #374151;
    --drk-300: #4b5563;
    --drk-400: #6b7280;
    --drk-500: #9ca3af;
    --drk-500: #d1d5db;
    --drk-700: #e5e7eb;
    --drk-800: #f3f4f6;
    --drk-900: #f9fafb;
    --drk-950: #ffffff;

    --drk-220: #10b981;
}



    
