footer{
    background-color: var(--drk-900);
    .footer__blok{
        text-align: center;
        padding: 24px;
        font-size: 14px;
        font-weight: 400;
        font-family: 'inter';
        color: var(--lgt-600);
    }
}